<%- include("partials/header"); -%>
<div class="content">
  <h1>Register</h1>
  <form id="registerForm" action="/register" method="post">
    <input
      type="text"
      class="username form-label"
      name="registerUsername"
      placeholder="Username"
      required
    /><br />
    <input
      type="password "
      class="password form-label"
      name="registerPassword"
      placeholder="Password"
      required
    /><br />
    <button class="btn btn-primary" type="submit" name="button">
      Register
    </button>
  </form>
  <% if ( message=="successful" ) { %>

  <script>
    alert("Successful");
  </script>
  <% } %> <% if ( message=="failed" ) { %>

  <script>
    alert("failed");
  </script>
  <% } %> <%- include("partials/footer"); -%>
</div>
